<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content />
  </ion-refresher>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let comment of comments">
    <app-comment
      [dataTW]="comment"
      (commentDeleted)="getComments()"
      (commentEdited)="getComments()"
    ></app-comment>
  </ion-list>
</ion-content>
