<ion-header>
  <ion-toolbar>
    <ion-button
      fill="outline"
      shape="round"
      color="secondary"
      slot="start"
      style="margin-left: 10px"
      (click)="dismissModal()"
      >Close</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-center">
    <ion-card shape="round">
      <ion-card-content>
        <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
          <ion-item>
            <ion-input
              label="Name"
              labelPlacement="floating"
              type="text"
              name="Name"
              errorText="name is required"
              [(ngModel)]="name"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Last name"
              labelPlacement="floating"
              type="text"
              name="Lastname"
              errorText="Last name is required"
              [(ngModel)]="lastname"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Email"
              labelPlacement="floating"
              type="email"
              name="Email"
              errorText="Email is required / Invalid email"
              [(ngModel)]="email"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Password"
              labelPlacement="floating"
              type="password"
              name="password"
              minlength="8"
              maxlength="16"
              errorText="Password is required"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea
              label="Bio"
              labelPlacement="floating"
              type="text"
              name="Bios"
              errorText="Bios is required"
              [(ngModel)]="bios"
              [clearOnEdit]="true"
            ></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-input
              label="Old Password"
              labelPlacement="floating"
              type="text"
              name="OldPassword"
              errorText="Old Password is required"
              required
              [(ngModel)]="oldPassword"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="full"
            type="submit"
            [disabled]="sending || !signUpForm.valid"
            shape="round"
            color="secondary"
            >Update Information</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
