<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Mango X</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="person-circle-outline"
        size="large"
        color="primary"
        [routerLink]="['/user']"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="feed">
        <ion-icon name="home"></ion-icon>
        home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
